h1{
    font-size: 30px;
    color: blue;
}
.heading{
    color: red;
}
input[type="submit"] {
    width: 120px;
    margin-left: 35px;
}
input[type="reset"] {
    width: 120px;
    margin-left: 35px;
}
input[type="radio"] {
    width: 30px;
    margin-left: 20px;
}
input[type="checkbox"] {
    width: 30px;
    margin-bottom: 10px;
    align-content: center;
}